.search{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: "inter";
    transition: .4s;
}
.search-button:hover{
    cursor: pointer;
}